<div class="task">
  <input
    [value]="taskText"
    (focus)="onFocus = !onFocus"
    (blur)=" onFocus = !onFocus"
    (input)="onTaskInput($event)"
    [ngClass]="getFocusClass()"
  >
  <button (click)="onClickDelete()">Delete</button>
</div>

