<label>Add new task: <input [(ngModel)]="taskText"/></label>
<button type="submit" (click)="addTask($event)">Add</button>

<hr>

<app-task
  *ngFor="let task of tasks; let i = index"
  [taskText]="task.taskText"
  (delete)="onDeleteTask(i)"
  (textChange)="changeText(i, $event)"
></app-task>
